/*Couleurs*/
$color-primary: #E9EFF2;
$color-secondary: #8DAEC1;
$color-tertiary: #59427A;
$color-grey: #F6F6F6;
$color-lightblack: #353535;

/*Breakpoints*/
$breakpoints: (
mobile: 768px,
desktop: 992px
);